/* *{
box-sizing:border-box;
} */


body{

margin:0;
font-family:"Eater";


}


.app{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;

}



button{

padding:12px 30px;
border:none;
border-radius:30px;
background:#e96be0;
color:white;
font-size:18px;
margin:20px;
cursor:pointer;

}
button:hover{
  background: none;
  color:#e96be0;
}




/* FIRST PAGE */


/* FIRST PAGE */


.birthday{


height:100vh;

width:100%;

position:relative;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;


}



/* PHOTO ROWS */


.photo-marquee{


position:absolute;

width:100%;

overflow:hidden;


}



.top{

top:20px;

}



.bottom{

bottom:20px;

}





.photo-track{


display:flex;

gap:25px;

/* width:max-content; */


animation:movePhotos 13s linear infinite;


}



.photo-track.reverse{


animation:movePhotosReverse 13s linear infinite;


}





.photo-track img{


width:140px;

height:140px;

object-fit:cover;

border-radius:20px;

border:4px solid white;


}





@keyframes movePhotos{


from{

transform:translateX(0);

}


to{

transform:translateX(-50%);

}


}



@keyframes movePhotosReverse{


from{

transform:translateX(-50%);

}


to{

transform:translateX(0);

}


}





/* MIDDLE */


.birthday-text{


z-index:5;

background:rgba(255,255,255,0.7);



}



.birthday-text h1{


font-family:"Eater";

font-style:italic;

font-size:55px;


animation:

bounce 2s infinite,

glow 2s infinite;


}



@keyframes bounce{


50%{

transform:translateY(-30px);

}


}



@keyframes glow{


50%{

text-shadow:

0 0 20px #ff69b4,

0 0 40px #9b59ff;

}


}



.birthday-text p{


font-size:25px;

color:#fa55f7;


}



/* CAKE PAGE */


.cakePage{


height:100vh;

width:100%;

background:linear-gradient(#f3d6ff,#ffffff);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

overflow:hidden;

position:relative;

}




.stars{


position:absolute;

top:30px;

font-size:35px;

animation:stars 5s infinite linear;

}



@keyframes stars{


from{

transform:translateX(100%);

}


to{

transform:translateX(-100%);

}


}




.cake{


width:250px;

border-radius:20px;
 
border: none
}



.cakeBox{


position:relative;


}



.count{


position:absolute;

top:40%;

left:50%;

transform:translate(-50%,-50%);

font-size:80px;

color:#9b59ff;

font-weight:bold;

}



.smoke{


font-size:30px;

animation:glow 2s infinite;


}






.wishBox{


padding:15px;

width:280px;

border-radius:20px;

border:2px solid #9b59ff;

font-size:18px;

margin:20px;


}





/* ACCESS PAGE */


.access{

width:100%;
height:100%;
position:relative;

}


.bts{

width:350px;
position:absolute;
bottom:0;
left:50%;
transform:translateX(-50%);

}



.popup{

position:absolute;
left:50%;
transform:translateX(-50%);

padding-bottom:100px;

border-radius:20px;
z-index:2;

}

.lock{

font-size:70px;

animation:shake 1s infinite;

}


@keyframes shake{


50%{

transform:rotate(10deg);

}


}


.loading{

color:#9b59ff;

font-size:20px;

animation:pulse 1s infinite;

}


@keyframes pulse{


50%{

opacity:.5;

}


}



/* PASSWORD */

/* MEMORY HINT PAGE */


.password{


height:100vh;

width:100%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

background:

linear-gradient(

135deg,

#f3d6ff,

#ffffff

);

}



.memory-hearts{


font-size:50px;

animation:floatHeart 2s infinite;


}



@keyframes floatHeart{


50%{

transform:translateY(-20px);

}


}





.password h1{


color:#9b59ff;

font-size:25px;

animation:glow 2s infinite;


}




@keyframes glow{


50%{


text-shadow:

0 0 20px #c77dff;


}


}




.memory-text{


font-size:25px;

line-height:1.6;

font-style:italic;

color:#6a3d8f;


}




.small-hearts{


font-size:35px;

margin:20px;


}




.password input{


padding:15px;

width:250px;

border-radius:30px;

border:3px solid #9b59ff;

font-size:20px;

text-align:center;


}




/* LETTER PAGE */


.letter{


height:100vh;

width:100%;

position:relative;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;


background:

linear-gradient(

135deg,

#f6ddff,

#ffffff

);


}





/* floating hearts */


.floating-hearts{


position:absolute;

top:30px;

width:100%;

font-size:40px;

white-space:nowrap;


animation:heartMove 10s linear infinite;


}





@keyframes heartMove{


from{

transform:translateX(100%);

}


to{

transform:translateX(-100%);

}


}





/* letter reveal */


.letter-reveal{


z-index:2;

background:white;

padding:20px;

border-radius:25px;


box-shadow:

0 0 35px #c77dff;


animation:showLetter 2s ease;


}




@keyframes showLetter{


0%{

transform:scale(0.5);

opacity:0;


}


100%{


transform:scale(1);

opacity:1;


}


}





.letter-reveal h2{


font-size:25px;

color:#9b59ff;

font-family:cursive;


}




.open-text{


font-size:20px;

color:#777;


}





.letterImg{


height:70vh;

max-width:85vw;

border-radius:15px;


}




/* FINAL BTS VIDEO PAGE */


.videoPage{


height:100vh;

width:100%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

overflow:hidden;


background:

linear-gradient(

135deg,

#ead6ff,

#ffffff

);


}





.final-hearts{


font-size:45px;

white-space:nowrap;

animation:heartFloat 4s infinite linear;


}



@keyframes heartFloat{


from{

transform:translateX(100%);

}


to{

transform:translateX(-100%);

}


}





.videoPage h1{


font-size:45px;

color:#9b59ff;

animation:glow 2s infinite;


}




.videoPage h2{


font-size:35px;

color:#7b2cbf;


}





.final-text{


font-size:22px;

font-style:italic;


}





.video-box{


padding:15px;

background:white;

border-radius:25px;


box-shadow:

0 0 40px #c77dff;


animation:videoShow 2s ease;


}





@keyframes videoShow{


from{

transform:scale(0.5);

opacity:0;

}


to{

transform:scale(1);

opacity:1;

}


}




.video{


width:700px;

max-width:90vw;

border-radius:20px;


}





.videoPage h3{


font-size:30px;

color:#9b59ff;


}



@keyframes glow{


50%{


text-shadow:

0 0 20px #c77dff;


}


}